/* Reset */

:root{
  --primary: #ffaa5a;
  --secondary: #ff785a;
}

html{
  height: 100%;
}

body, h1, h1, h3, p, ul {
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Ubuntu' , sans-serif;
}

nav{
  max-width: 100%;
  max-height: max-content;
  color: #000;
}

.topo{
  max-width: 1000px;
  padding: 20px 24px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  min-width: 300px;
  padding-right: 24px;
}

.logo-img{
  max-width: 120px;
}

.logo-titulo{
  padding-left: 16px;
  font-weight: 700;
  font-size: 30pt;
}

.itens-topo{
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
}

.carrinho, .favoritos{
  margin-right: 24px;
}

.menu{
  max-width: 100%;
  max-height: max-content;
  background-color: var(--primary);
}

.itens-menu{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  display: flex;
  max-width: 1000px;
  height: 100%;
  padding: 12px 10px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  list-style: none;
}

.item-menu{
  padding: 6px 16px;
  font-size: 18pt;
  border-radius: 4px;
  transition: 0.3s;
}

.store:hover{
  background-color: #ff785a;
  color: white;
  transition: 0.3s;
}

.food:hover{
  background-color: #ffd25a;
  color: white;
  transition: 0.3s;
}

.blog:hover{
  background-color: #0082ca;
  color: white;
  transition: 0.3s;
}

.about:hover{
  background-color: #00a887;
  color: white;
  transition: 0.3s;
}

.join {
  background: url(../img/smiley-childrens-at-book-day-event1.png) no-repeat center center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  text-align: center;
  color: white;
}

.join h1{
  font-weight: 700;
  font-size: 80px;
  padding-top: 380px;
  padding-bottom: 50px;
  line-height: 88px;
  text-shadow: 0px 6px 18px #0e0d0d;
}

.join h1:first-line{
  font-size: 64px;
}

.vantagens{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
  max-width: 1000px;
  margin: 16px auto 0px auto;
}

.vantagens-item{
  max-width: 320px;
  max-height: 120px;
}

.loja{
  max-width: 980px;
  margin: 56px auto 0px auto;
}

.titulo-geral{
  position: relative;
  margin: 0px auto;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

.titulo-geral:before, .titulo-geral:after{
  content:" ";
  height: 5px;
  width: 330px;
  background: var(--primary);
  display: block;
  position: absolute;
  top: 50%;
}

.venda-titulo{
  position: relative;
  margin-top: 56px;
  padding-left: 171px;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.venda-titulo:before, .venda-titulo:after, .categorias-titulo:before, .categorias-titulo:after{
  content:" ";
  height: 5px;
  background: var(--secondary);
  display: block;
  position: absolute;
  top: 50%;
}

.venda-titulo:before, .categorias-titulo:before{
 width: 155px;
}

.categorias-titulo:after{
  width: 569px;
}

.venda-titulo:after{
  width: 708px;
}

.titulo-geral:before, .venda-titulo:before, .categorias-titulo:before{
  left: 0;
}

.titulo-geral:after, .venda-titulo:after, .categorias-titulo:after{
  right: 0;
}

.produtos{
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  column-gap: 24px;
  justify-content: space-between;
  text-align: center;
}

.produto-desc{
  margin-top: 24px;
  font-size: 24px;
}

.produto-preco{
  margin-top: 10px;
  font-size: 36px;
}

.produto-btn{
  display: block;
  font-size: 30px;
  font-weight: 700;
  max-width: max-content;
  margin: 10px auto 0px auto;
  padding: 4px 44px;
  border-radius: 4px;
  background-color: var(--secondary);
}

.categorias{
  max-width: 980px;
  margin: 44px auto 0px auto;
}

.categorias-titulo{
  position: relative;
  padding-left: 171px;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.categorias-container{
  margin-top: 88px;
  display: flex;
  justify-content: space-around;
  column-gap: 12px;
  row-gap: 12px;
  flex-wrap: wrap;
}

.categoria-item{
  background-color: var(--secondary);
  width: 250px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  border-radius: 4px;
}

.categoria-img, .comida-img{
  max-width: 100%;
  width: auto;
  height: auto;
}

.space{
  margin-left: 24px;
}

.comida{
  max-width: 980px;
  margin: 90px auto 0px auto;
}

.comida-container{
  margin-top: 68px;
  display: flex;
  justify-content: space-around;
  column-gap: 12px;
  row-gap: 12px;
  flex-wrap: wrap;
}

.comida-item{
  background-color: #ffd25a;
  width: 240px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 14px;
  color: #000;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  border-radius: 4px;
}

p.comida-desc{
  line-height: 30px;
}

.blog-section{
  max-width: 980px;
  margin: 96px auto 0px auto;
}

.blog-container{
  display: flex;
  justify-content: space-evenly;
  column-gap: 12px;
  flex-wrap: wrap;
  padding: 0px 16px;
  margin-top: 64px;
}

.blog-item{
  max-width: 396px;
  position: relative;
}

.blog-img{
  max-width: 396px;
  height: auto;
}

div.blog-icon{
  position: absolute;
  display: flex;
  justify-content: center;
  top: -20px;
  left: 34px;
  background-color: #0082ca;
  height: 110px;
  width: 72px;
}

img.blog-icon{
  max-width: 60px;
  height: 56px;
  margin-top: auto;
  margin-bottom: 8px;
}

h3.blog-titulo{
  margin-top: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

p.blog-desc{
  margin-top: 2px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #49474b;
}

.about-section{
  max-width: 980px;
  margin: 64px auto 0px auto;
}

.about-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 12px;
  margin-top: 50px;
}

.about-item{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 340px;
  background-color: #00a887;
  border-radius: 4px;
  height: 124px;
}

.about-item:last-child{
  flex-flow: row-reverse;
}

.about-desc{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}